:root {
  --icon-scale: .75;
  --mini-size: calc(32px * var(--icon-scale));
  --item-size: calc(64px * var(--icon-scale));
  --item-mini-size: calc(var(--item-size) + var(--mini-size));
  --pad-size: calc(4px * var(--icon-scale));
  --gap-size: calc(4px * var(--icon-scale));
  --col-size: calc(var(--item-mini-size) + (var(--pad-size) * 2));
  --row-size: calc(var(--item-size) + (var(--pad-size) * 2));

  --addfilter: sepia(100%) saturate(300%) brightness(100%) hue-rotate(100deg);
  --delfilter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(300deg);
  --unbuildablefilter: saturate(60%);

  --balloon-color: #335;
  --balloon-font-size: min(12px, calc(20px * var(--icon-scale)));

  --background-color: #000;
  --border-color: #557;
  --header-color: #cacaf0;
  --link-color: #bbc;
  --dropdown-color: #cacaf0;
  --dropdown-background: #223;
  --unbuildable-outline: 1px solid #f00;
  --unbuildable-outline-offset: -1px;
  --wanted-outline: 2px solid #08f;
  --wanted-outline-offset: -2px;
  --buildable-outline: 2px solid #0e6;
  --buildable-outline-offset: -2px;
  --oneoff-outline: 2px solid #cc0;
  --oneoff-outline-offset: -2px;
}

[data-theme="light"] {
  --background-color: #bbb;
  --border-color: #225;
  --header-color: #335;
  --link-color: #007;
  --dropdown-color: #eaeaf0;
  --dropdown-background: var(--border-color);
  --unbuildable-outline: 2px solid #f00;
  --unbuildable-outline-offset: -2px;
  --wanted-outline: 2px solid #08f;
  --wanted-outline-offset: -2px;
}

* { box-sizing: border-box; }
div { display: inline; padding: 0px; }

body { background-color: var(--background-color); color: var(--header-color); }
hr {
  border: 1px solid var(--border-color);
  padding: 0px;
  margin: calc(6px * var(--icon-scale));
  margin-left: 0px;
  margin-right: 0px;
}

div.headercontainer {
  display: inline-block;
}

div.header {
  display: inline-block;
  color: var(--header-color);
  font-size: calc(2em * var(--icon-scale));
  font-variant: small-caps;
  padding-bottom: calc(6px * var(--icon-scale));
  cursor: help;

}

div#clearbutton {
  display: inline-block;
  font: inherit;
  color: #a66;
  cursor: pointer;
}

div#combinationsfilter, div#oneofffilter {
  display: inline-block;
}


img.del:hover { filter: var(--delfilter); }
img.add:hover { filter: var(--addfilter); }
img.showunbuildablefonly {
  filter: var(--unbuildablefilter);
}
img.showunbuildable {
  filter: var(--unbuildablefilter);
  outline: var(--unbuildable-outline);
  outline-offset: var(--unbuildable-outline-offset);
}
img.showwanted {
  outline: var(--wanted-outline);
  outline-offset: var(--wanted-outline-offset);
  filter: saturate(120%) brightness(110%);
}
img.showbuildable {
  outline: var(--buildable-outline);
  outline-offset: var(--buildable-outline-offset);
}
img.showoneoff {
  outline: var(--oneoff-outline);
  outline-offset: var(--oneoff-outline-offset);
}
img.lowscore { opacity: 0.7; }
div.spare {
  display: inline-block;
  margin-left: calc(var(--mini-size) * 0.60);
}
img { width: var(--item-size); height: var(--item-size); }
img.spare { opacity: 0.6; }
img.minit { position: absolute; left: 0; top: 0; height: var(--mini-size); width: var(--mini-size); opacity: 0.9; }
img.minib { position: absolute; left: 0; top: 0; height: var(--mini-size); width: var(--mini-size); opacity: 0.9; }
div.minit { grid-area: minit; }
div.minib { grid-area: minib; }

div.item { grid-area: item; }

div.component {
  display: grid;
  float: left;
  padding: 0px;
  min-width: var(--item-mini-size);
  min-height: var(--item-size);
  grid-template-columns: repeat(3, var(--mini-size));
  grid-template-rows: repeat(2, var(--mini-size));
  grid-template-areas:
    "minit item item"
    "minib item item"
}

div.combitem {
  width: var(--item-size);
  height: var(--item-size);
}
div.combinationscontainer {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(var(--col-size), auto));
  grid-gap: var(--gap-size);
  border: 2px solid var(--border-color);
  padding: var(--pad-size);
  width: calc(var(--col-size) + var(--pad-size));
}



:root[data-hide-combinations="1"] div#combinationsection { display: none; }
:root[data-hide-oneoff="1"] div#oneoffsection { display: none; }
:root[data-hide-cheatsheet="1"] div#cheatsheetsection { display: none; }

div#cheatsheet {
  display: inline-grid;
  grid-template-columns: repeat(9, var(--col-size));
  grid-template-rows: repeat(9, var(--row-size));
  grid-gap: 4px;
  padding: 0px;
}

div#combinations {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(var(--col-size), 1fr));
  grid-gap: var(--gap-size);
}

div#havewant {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hheader wheader"
    "hitems  witems";
}

@media screen and (max-width: 600px) {
  div#havewant {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "hheader"
      "hitems"
      "wheader"
      "witems";
  }

}
#hheader { grid-area: hheader; }
#wheader { grid-area: wheader; }
#hitems { grid-area: hitems; }
#wanted { grid-area: witems; }

#baseitems, #items, #buildable, #wanted, #oneoff {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-size), auto));
  grid-gap: var(--gap-size);
  min-height: calc(var(--item-size) + var(--pad-size));
}
div#wanted {
  float: left;
  grid-gap: calc(var(--gap-size) * 0.66);
  grid-template-columns: repeat(auto-fill, minmax(var(--item-mini-size), auto));
}
div#buildable, div#oneoff {
  grid-template-columns: repeat(auto-fill, minmax(var(--item-mini-size), auto));
}

div#menu { padding-top: 2px; }

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.menuitem {
  display: inline;
  font-size: calc(20px * var(--icon-scale));
  border-right: 2px solid var(--border-color);
  padding: calc(8px * var(--icon-scale));
}
li.menuitem:last-child { border-right: none; }
li.menuitem div {
  display: inline-block;
  color: var(--header-color);
  font: inherit;
  font-weight: bold;
  color: var(--link-color);
  cursor: pointer;
}
li.menuitem a {
  display: inline-block;
  color: var(--header-color);
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}


div.clear { display: block; width: 100%; clear: both; padding: 0px; margin: 0px; }

.cselect {
  display: inline-block;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 700;
	color: var(--dropdown-background);
	line-height: 1.3;
  padding: 2px;
	width: auto;
	max-width: 100%;
	margin: 0;
	border: 1px solid var(--border-color);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--dropdown-color);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, var(--dropdown-background) 0%, var(--dropdown-background) 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.cselect::-ms-expand {
	display: none;
}
.cselect:hover {
	border-color: var(--header-color);
}
.cselect:focus {
	border-color: var(--border-color);
	color: var(--dropdown-color);
	outline: none;
}
.cselect option {
  background: var(--dropdown-background);
  color: var(--dropdown-color);
	font-weight: normal;
}
